<!-- Site footer -->
<footer class="site-footer mt-4 ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          A blog (a truncation of "weblog") is an informational website consisting of discrete, often informal
          diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the
          most recent post appears first, at the top of the web page.The emergence and growth of blogs in the late 1990s
          coincided with the advent of web publishing tools that facilitated the posting of content by non-technical
          users who did not have much experience with HTML or computer programming.
        </p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">

      </div>
    </div>
  </div>
</footer>