<% layout('layout/main') -%>
<% block('title', 'About') -%>


<div class="container">
  <h1 class="blog-heading top-m">About</h1>

  <p class="w-75 mx-auto text-center">A blog (a truncation of "weblog") is an informational website consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order so that the most recent post appears first, at the top of the web page. </p>

    <h3 class="mt-4 mb-4">Berners-Lee also created what is considered by Encyclopedia Britannica to be "the first 'blog'" in 1992</h3>
    <p>The emergence and growth of blogs in the late 1990s coincided with the advent of web publishing tools that facilitated the posting of content by non-technical users who did not have much experience with HTML or computer programming.</p>

    <h3 class="mt-4 mb-4">More about blogs?</h3>

  <a href="https://en.wikipedia.org/wiki/Blog">Read more about blogs(Wikipedia)</a> <br>

  <a href="https://en.wikipedia.org/wiki/List_of_blogs">List of blogs</a>
</div>
